body.dark {
    background: #222222
}
.dark .history-contents .ui.segment {
    background: #222222;
}
.dark .history-contents .ui.segment .sidebar {
    background: #222222;
}

.dark .history-contents .ui.card, .dark .history-contents .ui.card>.card {
    box-shadow: none;
    background: #464545;
}

.dark .history-contents .history-detail .ui.card, .dark .history-contents .history-detail .ui.card>.card {
    box-shadow: none;
    background: rgba(95, 96, 101, 0.57);
}
.dark .ui.card.history-detail>.content>.header{
    color: rgb(239, 239, 239);
}
.dark .ui.card.history-detail .meta, .dark .ui.cards.history-detail>.card .meta {
    color:rgba(255, 255, 255, 0.46);
}

.dark .history-contents .ui.card.history-detail {
    background: rgba(116, 115, 119, 0.21);
}

.dark .history-contents{
    border-top: solid #5c5c5d 2px;
}

.dark .functiondiff-wrapper {
    background: #222222;
}

.dark .ui.card>.content>.header, .dark .ui.cards>.card>.content>.header,
.dark .ui.card>.content>.description, .dark .ui.cards>.card>.content>.description,
.dark .history-detail .description {
    color: white;
}

.dark .history-contents .active.item .ui.card , .dark .active.item .history-contents .ui.card>.card{
    background: #3d5377;
}
.dark .ui.secondary.vertical.pointing.menu {
    border-right-color: #5c5c5d;
}
.dark .ui.secondary.vertical.pointing.menu .active.item {
    border-color: #ffffff;
}

.dark .ui.card>.extra, .dark .ui.cards>.card>.extra {
    border-top: 1px solid rgba(117, 117, 117, 0.61)!important;
}

.dark .ui.card .meta, .dark .ui.cards>.card .meta {
    color: rgb(0, 0, 0);
}

.dark .ui.menu {
    border: 1px solid #5c5c5d;
}

.dark .menu-hr {
    background:#5c5c5d;
}

.dark .historyview-logo{
	content:url("../logo_white.png");
}

.dark .d2h-wrapper {
    background-color:#404040;
}

.dark .d2h-file-header {
    border-bottom: 1px solid #343640;
    background-color: #343640;
}
.dark .d2h-file-name {
    color: #fdfdfd;
}

.dark .d2h-file-wrapper {
    border: 1px solid #222222;
}
.dark .d2h-code-line del,
.dark .d2h-code-side-line del {
    background-color: #f3b2b5;
}

.dark .d2h-code-line ins,
.dark .d2h-code-side-line ins {
    background-color: #0a4609;
}
.dark .d2h-code-line-ctn {
    color: rgb(132, 132, 132);
}
.dark .line-num1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.dark .line-num2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.dark .d2h-code-linenumber {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #404040;
    color: rgb(132, 132, 132);
    border: solid #000000;
    border-width: 0 1px 0 1px;
}
.dark .d2h-code-side-linenumber {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #404040;
    color: rgb(132, 132, 132);
    border: solid #000000;
    border-width: 0 1px 0 1px;
  }

  /*
 * Changes Highlight
 */

.dark .d2h-del {
    background-color: rgba(218, 191, 192, 0.77);
    border-color: #000000;
  }
  
.dark .d2h-ins {
    background-color: #4e754e;
    border-color: #000000;
}
  
.dark .d2h-info {
    background-color: #2b2b2b;
    color: rgb(239, 239, 239);
    border-color: #000000;
}



.dark .setting-form .group .label, .dark .ft_port .group .label {
    color:#aaa;
	font-size:12px;
}

.dark .setting-html {
    background:rgb(54, 61, 75); 
}

.dark .setting_confirm .button {
    background:#152646;
}

.dark .setting-form .group .input, .dark .ft_port .group .input, .dark .setting_confirm .button {
    border-radius:25px;
    border: none;
}