.history-contents{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: solid #c7c7c7 2px;
    min-width: 1200px;    
}
.historyview-logo {
    height: 40px;
    margin-left: 10px;
}

.pusher.left{
    width: calc(100% - 350px);
}

.pusher.right{
    width: 100%
}

.ui.basic.segment{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -8px;
}

.history-contents .active.item .ui.card , .active.item .history-contents .ui.card>.card{
    background: #ededf1;
}
.history-contents .ui.menu .ui.card .header{
    width:280px; 
    padding:0 5px; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.ui.card {
	width: 100%;
}

.menu-hr {
    height:2px;
    margin: 0px -30px 0px -30px;
	background:#c7c7c7;
}

.history-contents .ui.circular.button {
    margin: 5px
}

body.dark ::-webkit-scrollbar-thumb {
    background: #7c838a;
}

body.dark ::-webkit-scrollbar-track {
    background: #2f3136;
}
.history-detail {
    min-height: 120px!important;
    margin-right: 5px;
    padding-left: 40px!important;
    padding-right: 40px!important;
}
.history-menu {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.history-contents .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ededf1'%2F%3E%3C%2Fsvg%3E");
}
    
.history-contents .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ededf1'%2F%3E%3C%2Fsvg%3E")
}
