.functiondiff-wrapper{
	background:rgb(255, 255, 255);
	font-weight: normal;
	margin-top: 5px;
	position: relative;
	overflow-y: auto;
	height: calc(100% - 190px);
}

.functiondiff{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
