.setting-layer{
	position:absolute;
	top:30px;right:0;bottom:0;left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	font:600 16px/18px 'Open Sans',sans-serif;
}

.setting-wrap{
	border-radius: 15px;
	width:100%;
	margin:auto;
	max-width:420px;
	min-height:570px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.setting-html{
	border-radius: 15px;
	width:100%;
	height:100%;
	position:absolute;
	padding:20px 40px 50px 40px;
	background: rgb(143, 147, 202);
}
.setting-html .svn-htm,
.setting-html .git-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}

.git-htm .message {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
}

.setting-html .svn,
.setting-html .git,
.setting-form .group .check{
	display:none;
}
.setting-html .tab,
.setting-form .group .label,
.setting_confirm .button{
	text-transform:uppercase;
}
.setting-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.setting-html .svn:checked + .tab,
.setting-html .git:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.setting-form{
	min-height:200px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.setting-form .group{
	margin-bottom:15px;
}
.setting-form .group .label,
.setting-form .group .input,
.ft_port .group .label,
.ft_port .group .input,
.setting_confirm .button{
	width:100%;
	color:#fff;
	display:block;
}
.setting-form .group .input,
.ft_port .group .input,
.setting_confirm .button{
	border:none;
	padding:15px 20px;
	border-radius:0px;
	background:rgba(255,255,255,.1);
}

.setting-form .group .label,
.ft_port .group .label{
	color: #000;
	font-size:12px;
}
.setting_confirm .button{
	margin-top:20px;
	background: rgb(143, 147, 202);
    border: solid white;
}
.setting-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.setting-form .group label .icon:before,
.setting-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.setting-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.setting-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.setting-form .group .check:checked + label{
	color:#fff;
}
.setting-form .group .check:checked + label .icon{
	background:#1161ee;
}
.setting-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.setting-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.setting-html .svn:checked + .tab + .git + .tab + .setting-form .svn-htm{
	transform:rotate(0);
}
.setting-html .git:checked + .tab + .setting-form .git-htm{
	transform:rotate(0);
}

.setting-hr{
	height:2px;
	margin:40px 0 10px 0;
	background:rgba(255,255,255,.2);
}

.setting-title {
	width: 80%;
	margin: auto;
	padding-bottom:40px;
}

.setting-title .title {
	font-size:50px;
}

.setting-logo {
	width: 100%;
}




/* Some color definitions */
/* Important switch stuff */
input[type=checkbox].switch + label {
	width: 60px;
	height: 18px;
	background: lightgray;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	margin: 20px;
  }
  input[type=checkbox].switch + label:before, input[type=checkbox].switch + label:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	left: 0;
	transition: all .2s;
  }
  input[type=checkbox].switch + label:after {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  input[type=checkbox].switch + label:before {
	background: lightgray;
	transform: scale3d(0, 0, 1);
  }
  input[type=checkbox].switch + label:active:before {
	transform: scale3d(3, 3, 1);
	opacity: 0;
  }
  
  input[type=checkbox].switch {
	display: none;
  }
  input[type=checkbox].switch:checked + label:before, input[type=checkbox].switch:checked + label:after {
	left: 40px;
  }
  input[type=checkbox].switch:disabled + label {
	opacity: 0.4;
	cursor: not-allowed;
  }
  
  input[type=checkbox].switch.dark {
	display: none;
  }
  input[type=checkbox].switch.dark:checked + label {
	background: rgba(189, 189, 189, 0.5);
  }
  input[type=checkbox].switch.dark:checked + label:before, input[type=checkbox].switch.dark:checked + label:after {
	background: #36393e;
  }
  
  .themeSwitch{
	  position: absolute;
	  right: 0;
  }